header {
    background-color: coral;
    color: black;
}

main {
    width: 95%;
    height: 75%;
    background-color: cyan;
    margin-left: auto;
    margin-right: auto;
}

section {
    border-radius: 25px;
    background-color: plum;
    padding: 20px; 
    margin: 30px;
    height: 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}
.right {
    float: right;
}

/* 
element name to select all elements of that type
. to select all elements with that class
# to select the single element with that id 
*/