header {
    background-color: coral;
    color: black;
}

main {
    width: 95%;
    background-color: cyan;
}

section {
    float: center;
    width: 75%;
    border: solid black 10px;
    background-color: plum;
    margin: 30px;
    height: 200px;
}

/* 
element name to select all elements of that type
. to select all elements with that class
# to select the single element with that id 
*/