header {
    background-color: coral;
    color: black;
}

main {
    width: 95%;
    height: 500px;
    background-color: cyan;
}

section {
    border-radius: 25px;
    background-color: plum;
    padding: 20px; 
    margin: 30px;
    height: 30%;
}

/* 
element name to select all elements of that type
. to select all elements with that class
# to select the single element with that id 
*/